<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Docentes</title>
    <link rel="stylesheet" type="text/css" href="../css/registro-docente-style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="superior-izquierdo">
            <div>
                <img src="./imagenes/c1-Fisi.png" alt="Fisi">
            </div>
            <h2>Carreras Ágiles</h2>
        </div>
        <div class="superior-derecha">
            <h2>Bienvenido, <%= user.displayName %></h2>
            <div>
                <img src="<%= user.photo %>" alt="Foto de perfil">
            </div>
        </div>
    </header>
    <!-- registrar-docente.ejs -->

<!-- Formulario para ingresar el apellido y realizar la búsqueda -->

<form action="/registrar-docente" method="get">
    <label for="apellido">Buscar por Apellido:</label>
    <input type="text" id="apellido" name="apellido" required>
    <button type="submit">Buscar</button>
  </form>
  
    <!-- Muestra los resultados en una tabla si existen -->
  <% if (resultados && resultados.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Role</th>
            <th>Acciones</th>
            <!-- Agrega más columnas según tus necesidades -->
          </tr>
        </thead>
        <tbody>
          <% resultados.forEach((usuario) => { %>
            <tr>
              <td><%= usuario.firstName %></td>
              <td><%= usuario.lastName %></td>
              <td>
                <!-- Convierte el campo role en un combobox -->
                <select id="editRole_<%= usuario._id %>" style="display: none;">
                  <option value="alumno" <%= usuario.role === 'alumno' ? 'selected' : '' %>>Alumno</option>
                  <option value="docente" <%= usuario.role === 'docente' ? 'selected' : '' %>>Docente</option>
                  <option value="administrador" <%= usuario.role === 'administrador' ? 'selected' : '' %>>Administrador</option>
                </select>
                <span id="role_<%= usuario._id %>"><%= usuario.role %></span>
              </td>
              <td>
                <button onclick="editRole('<%= usuario._id %>')">Editar</button>
                <button onclick="saveRole('<%= usuario._id %>')" style="display: none;">Guardar</button>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else if (resultados) { %>
      <p>No se encontraron resultados para el apellido ingresado.</p>
    <% } %>
    
</body>
</html>